* {
    font-family:"Microsoft YaHei";
}
body, form, h1, h2, h3, h4, p, ul {
    margin: 0
}
body {
    background: url(//v3.chainwon.com/theme/default/img/bg-bottom.svg);
    background-color: #f3f3f3;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
code {
    border-radius: 3px;
    max-height: 600px;
}
ol {
    padding-left: 20px;
    margin: 0;
}
ul {
    padding: 0
}
article {
    color: #5b6064;
    max-width: 840px;
    margin: 0 auto 10px auto;
}
article h1, article h2, article h3 {
    font-weight: 500;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
}
input:focus, textarea:focus {
    outline: 0
}
#content .container {
    margin: 50px auto;
    max-width: 1040px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    border-radius: 10px;
    background: #fff;
    animation: 0.8s both loading-l;
}
cat {
    background: #f5f5f5;
    border-radius: 3px;
    padding: 1px 5px;
}
.red {
    background: rgb(254, 122, 112);
    color: #fff;
}
.blue {
    background: rgb(88, 201, 243);
    color: #fff;
}
.pink {
    background: rgb(244, 167, 185);
    color: #fff;
}
.black {
    background: rgb(91, 96, 100);
    color: #fff;
}
.green {
    background: rgb(34, 172, 143);
    color: #fff;
}
.yellow {
    background: rgb(252, 218, 130);
    color: #fff;
}
html::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar {
    width: 8px;
    height: 8px
}
html::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: rgb(244, 167, 185)
}
html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(247, 137, 137)
}
::selection {
    background: rgb(244, 167, 185);
    color: #fff
}
ul {
    list-style-type: none
}
a {
    color: #5b6064;
    text-decoration: none;
}
img {
    border: 0 none
}
header {
    text-align: center;
    padding: 50px 0 110px 0;
    position: relative;
    overflow: hidden;
    background: rgb(244, 167, 185);
}
header::after {
    content:'';
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
    width: calc(100% + 600px);
    height: 500px;
    background: #fff;
    left: -300px;
    bottom: -440px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
}
header .bg {
    background: rgb(244, 167, 185);
    height: 150%;
    width: 150%;
    position: absolute;
    top: -25%;
    left: -25%;
    z-index: -1;
    filter: blur(15px);
}
header a {
    height: 160px;
    width: 160px;
    display: inline-block;
}
header .hlove {
    height: 50px;
    width: 50px;
}
header img {
    border-radius: 100%;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: 5px solid rgba(255, 255, 255, 0.5);
}
header h1 {
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}
hr {
    border: none;
    border-top: 1px dashed rgb(244, 167, 185);
}
header p {
    padding: .3em 0;
    color: #fff;
}
#content .container .nav {
    font-size: 1.2em;
    height: 55px;
    line-height: 55px;
    overflow: auto;
    white-space: nowrap;
}
#content .container .nav a {
    margin: 0 20px
}
#content .container .nav a.a {
    color: rgb(244, 167, 185);
    text-shadow: 0 0 15px rgb(244, 167, 185);
}
blockquote {
    margin: 5px 0;
    padding-left: 1em;
    border-left: 4px solid rgb(244, 167, 185);
    font-size:14px;
}
blockquote p {
    padding: 0!important;
}
.others {
    margin-top:10px;
}
.others a {
    height: 30px;
    border-radius: 3px;
    display: inline-block;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
}
.share {
    margin-top: 10px;
    float: right;
}
.share a {
    width: 30px;
    color: #fff;
    cursor: pointer;
}
.share .fa-usd {
    background: #fff;
    color: rgb(243, 203, 98);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 20px;
}
.tags {
    display: inline-block;
}
.tags a {
    transition: all .35s;
    margin-top: 10px;
    background: rgb(255, 242, 242);
    color: rgb(244, 167, 185);
    padding: 0 8px;
}
.tags a:before {
    content:"#";
}
.tags a:hover {
    transition: all .35s;
    color: #fff;
    background: rgb(244, 167, 185);
}
.p-title {
    font-family:"微軟正黑體"!important;
    font-size: 38px;
    padding: .2em .2em 0;
    text-align: center;
    font-weight: 600;
    border: none;
}
.p-title a {
    font-family:"微軟正黑體"!important;
}
.p-title:before {
    content: none;
}
.cover {
    text-align: center;
}
.cover img {
    width: 100%;
    display: inline-block;
    border-radius: 3px;
    transition:all .35s;
}
.cover p {
    font-family:"Comic Sans MS", "Microsoft Yahei";
    border-radius: 3px;
    transition: all .35s;
    background: rgb(244, 167, 185);
    padding: 180px 80px;
    color: #fff;
    font-size: 50px;
    font-style: oblique;
}
.p-text {
    word-wrap: break-word;
    word-break: normal
}
.p-text a {
    transition: all .35s;
    border-bottom: 1px dashed #888;
}
.p-text a:hover {
    color: rgb(244, 167, 185);
    border-bottom: 1px dashed rgb(244, 167, 185);
}
.p-text h3 {
    padding: 2em 10px 1em;
    font-size: 1.5em
}
.p-text h4 {
    padding: 5px 0;
}
.p-text h4:before {
    content:'H4';
    color: #fff;
    border-radius: 3px;
    padding:0 3px;
    margin-right:5px;
    background: rgb(244, 167, 185);
}
.p-text p {
    line-height: 2em;
    padding: 5px 0;
}
.p-text p, .p-text img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
}
.p-text del {
    color: #999;
    font-size: .8em
}
.p-text ul {
    list-style-type: disc;
    padding: 0.5em 1em 1em 1.5em;
}
.p-text .more {
    padding: 0;
}
.p-text .more a {
    border: none;
    margin-left: calc(50% - 30px);
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.p-text .more i {
    margin-left: calc(50% - 55px);
    text-align: center;
    display: block;
    width: 110px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    font-size: 26px;
    background: rgb(244, 167, 185);
    border-radius: 100px;
}
.p-meta {
    font-size: 12px;
    line-height: 2em;
    text-align: center;
    color: #5b6064;
    margin-bottom: 8px;
}
.p-meta li {
    padding: 0 .2em;
    display: inline-block;
    vertical-align: top
}
.p time {
    display: block;
}
.at {
    color: #5b6064
}
.banner {
    font-size: 3em;
    padding: 1em;
    text-align: center
}
.page-navigator {
    padding: 0;
    padding-top: 10px;
    border-top: .125rem dashed #DDD;
    margin: 0;
    margin-top: 30px;
    list-style: none;
    text-align: center;
    color: #DDD;
    padding-bottom: 10px;
}
.page-navigator .prev, .page-navigator .next {
    display: none;
}
.page-navigator a {
    transition: all .35s;
    color: #999;
    width: 100%;
    height: 100%;
    font-size: 10px;
    display: block;
}
.page-navigator a:hover {
    color: rgb(244, 167, 185);
}
.page-navigator li {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin: 5px 8px;
}
.page-navigator .current {
    box-shadow: 1px 1px 5px #ddd;
}
header .love {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    line-height: 50px;
    color: rgba(255, 105, 105, 1);
    border-radius: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    font-size: 18px;
}
header .love i {
    text-shadow: 0 0 4px;
}
header .user {
    display: inline-block;
    margin-top: 35px;
    vertical-align: top;
    text-align: left;
    margin-left: 20px;
}
.btn-top {
    width: 60px;
    height: 60px;
    line-height: 60px!important;
    color:#fff;
    background: rgb(244, 167, 185);
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: calc(50% + 575px);
    z-index: 999;
    border-radius: 100%;
    font-size: 26px!important;
}
.edit-btn {
    color: #fff;
    background: rgb(244, 167, 185);
    padding: 2px 5px;
    border-radius: 3px;
}
.search {
    float: right;
    margin-right: 10px;
    height: 35px;
    margin-top: 10px;
    position: relative;
}
.search input {
    transition: background .35s;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 50px 0 15px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    color: #5b6064;
    font-size: 18px;
    line-height: 35px;
    transition: background .35s;
    -webkit-appearance: none;
}
.search input:focus {
    transition: background .35s;
    background: #e9e9e9;
}
.search button {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    width: 42px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 0 3px 3px 0;
    background: rgb(244, 167, 185);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
th, td {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.15);
}
table, th, td {
    color: #fff;
    background: rgb(244, 167, 185);
    padding: 8px;
    border-radius: 3px;
    font-weight: normal;
    overflow: hidden;
}
td {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}
.link-area {
    font-size:0;
    margin-left:-0.5%;
    width:101%;
}
.link-area a {
    border: none!important;
}
.link-area div {
    width:15.666666666666666666%;
    margin:0.5%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
}
.link-area img {
    width:100%;
    margin:0;
    border-radius:0!important;
}
.link-area p {
    width:100%;
    margin:0;
    font-size: 20px;
    text-align:center;
}
.copyright {
    width: 100%;
    text-align: center;
    color: #fff;
    background: rgb(244, 167, 185);
    border-radius: 3px;
}
.copyright a {
    color: #fff;
    text-decoration: underline;
    padding: 0 3px;
}
.copyright p {
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}
.nofound {
    padding: 100px;
    padding-bottom: 135px;
    font-size: 50px;
    text-align: center;
}
.nofound p {
    -webkit-box-reflect: below -13px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
}
.pages {
    position: relative;
    font-size: 0;
    background: rgb(244, 167, 185);
    margin-top: 10px;
    border-radius: 3px;
    color: #fff;
}
.pages a {
    width: calc(100% - 100px);
    display: block;
    padding: 0 20px;
    height: 80px;
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pages i {
    top: 15px;
    width: 50px;
    position: absolute;
    height: 50px;
    background: rgb(253, 228, 228);
    color: rgb(244, 167, 185);
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
}
.pages .prev i {
    left: 15px;
}
.pages .pnext i {
    right: 15px;
}
.pages .prev a {
    float: right;
    text-align: left;
}
.pages .pnext a {
    float: left;
    text-align: right;
}
.pages div {
    font-size: 30px;
    width:50%;
    height: 80px;
    display: inline-block;
}
.t-copyright {
    height: 50px;
    text-align: center;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .15);
    border-radius: 0 0 10px 10px;
    position: relative;
    background: #fff;
}
.t-copyright .t-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    line-height: 50px;
    border-radius: 0 0 10px 10px;
    color: #999;
}
.t-copyright .t-info p {
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.support {
    width: 100%;
    font-size: 0;
    background: rgb(244, 167, 185);
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
}
.support div {
    width: 33.333333333%;
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
}
.support img {
    width: 100%;
    margin: 0;
    border-radius: 0!important;
}
.support p {
    width: 100%;
    margin: 0;
    font-size: 26px;
    text-align: center;
}
.ear {
    position: absolute;
    width: 180px;
    height: 140px;
    background: #fff;
    z-index: 1;
    bottom: -25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
    cursor: pointer;
}
.ear-l {
    left: 40px;
    transform: rotate(-25deg);
    border-radius: 100% 10% 0 0;
}
.ear-r {
    right: 40px;
    transform: rotate(25deg);
    border-radius: 10% 100% 0 0;
}
.float-window {
    display: none;
    position: fixed;
    height : 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(255, 255, 255, .9);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.float-window .content {
    max-width: 80%;
    margin: 30px 10%;
    text-align: center;
}
.float-window .content img {
    max-width: 100%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .3);
}
.float-window .content h1 {
    font-weight: 500;
    margin: 20px;
}
.float-window .content .z {
    width: 400px;
}
#comments {
    padding-top: 10px;
    clear: both;
}
#comments .page-navigator {
    padding: 0;
    border: none;
    margin-top: 10px;
}
#comments .info {
    margin: 10px 0;
}
#comments .comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
#comments .comment-list .comment-children {
    margin-left: 55px;
}
#comments .comment-list .comment-children .comment-children {
    margin-left: 0;
}
#comments .comment-list li {
    margin-top: 8px;
    padding: 8px;
    border-radius: 3px;
    background: #f5f5f5;
}
#comments .comment-list .comment-children li {
    border-right: none;
    padding: 0;
}
#comments .comment-view {
    position: relative;
}
#comments .comment-view .comment-header {
    float: left;
    font-size: 0;
    display: block;
}
#comments .comment-view .comment-header img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 3px solid #fff;
    box-sizing: border-box;
    background: #fff;
}
#comments .comment-content {
    display: inline-block;
    min-height: 50px;
    line-height: 21px;
    margin-left: 5px;
    max-width: calc(100% - 55px);
}
#comments .comment-content p {
    margin-bottom: 4px;
}
#comments .comment-content p img {
    margin-top: 7px;
    border-radius: 3px;
    max-width: 100%;
}
#comments .comment-content .biaoqing {
    margin-bottom: -8px;
    height: 25px;
    width: 25px;
    margin-top: 0!important;
    border: none;
}
#comments .comment-content .at {
    transition: all .35s;
    color: #999;
}
#comments .comment-content .at:hover {
    color: rgb(244, 167, 185);
}
#comments .comment-content .comment-meta {
    font-size: 13px;
}
#comments .comment-content .comment-meta span {
    border-radius: 3px;
    padding: 4px;
    color: #fff;
    display: inline-block;
    line-height: 0;
}
#comments .comment-content .comment-meta span a {
    color: #fff;
}
#comments .comment-content .comment-meta .comment-author {
    background: rgb(244, 167, 185);
}
#comments .comment-content .comment-meta .comment-class {
    background: rgb(114, 175, 235);
}
#comments .comment-content .comment-meta .comment-time {
    background: rgb(254, 212, 102);
}
#comments .comment-content .comment-meta .comment-reply {
    background: rgb(250, 108, 111);
}
#comments #response {
    position: relative;
    font-size: 0;
}
#comments #response .avatar {
    position: absolute;
    height: 76px;
    width: 76px;
    top: 0;
    left: 0;
}
#comments #response .avatar a {
    display: inline-block;
    font-size: 16px;
}
#comments #response .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 3px 0 0 3px;
}
#comments #response textarea {
    transition: all .35s;
    resize: none;
    background: #f5f5f5;
    border: none;
    border-radius: 3px;
    padding: 8px 88px;
    font-size: 16px;
    width: calc(100% - 176px);
    height: 60px;
    color: #5b6064;
}
#comments .comment-list #response textarea {
    background: #fff;
}
#comments #response button {
    position: absolute;
    right: 0;
    top: 0;
    width: 76px;
    height: 76px;
    border: none;
    outline: none;
    line-height: 76px;
    border-radius: 0 3px 3px 0;
    background: rgb(244, 167, 185);
    color: #fff;
    font-size: 20px;
}
#comments .info input {
    transition: all .35s;
    background: #f5f5f5;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    width: calc(33% - 0.6px);
    box-sizing: border-box;
}
#comments .info input:focus {
    background: #e9e9e9;
}
#comments .user {
    float: right;
}
.aplayer {
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.15)!important;
    border-radius: 3px!important;
}
.aplayer .aplayer-info {
    padding: 9px 7px 0 10px!important;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin-left: 1px!important;
    padding-right: 3px;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-time {
    bottom: -2px!important;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar, .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded, .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 6px!important;
    border-radius: 10px!important;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    height: 12px!important;
    width: 12px!important;
    right: 3px!important;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.18)!important;
    transition: all .35s;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar, .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar .aplayer-volume {
    border-radius: 10px;
    width: 6px;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap .aplayer-volume-bar-wrap .aplayer-volume-bar {
    right: 10.5px;
}
.tag-cloud a {
    transition: all .35s;
    margin-top: 10px;
    background: rgb(255, 242, 242);
    color: rgb(244, 167, 185);
    padding: 0 8px;
    height: 30px;
    border-radius: 3px;
    display: inline-block;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
}
.tag-cloud a:before {
    content:"#";
}
.tag-cloud a:hover {
    transition: all .35s;
    color: #fff;
    background: rgb(244, 167, 185);
}
.cloud {
    border-top: .125rem dashed #DDD;
    font-size: 0;
}
.cloud div {
    width: 33.3333%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 240px;
    line-height: 30px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
}
.cloud .post a, .cloud .comments a {
    display: block;
    transition: all .35s;
    margin-top: 10px;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media(min-width:1080px) {
    header {
        height: 160px
    }
}
@media(max-width:1080px) {
    #content .container {
        width: calc(100% - 40px);
        margin: 10px 20px
    }
    #m {
        width: 100%
    }
}
@media(max-width:720px) {
    #content .container {
        margin: 0;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        background: #fff;
        overflow: hidden;
        animation: none;
    }
    article {
        max-width: 760px;
        margin: 20px 10px 10px 10px;
    }
    .btn-top {
        right: 0;
        bottom: 0;
    }
    .link-area div {
        width:31.3333333333%;
        margin:1%;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 2px;
    }
    .link-area {
        margin-left:-1%;
        width:102%;
    }
    .cover p {
        padding: 30px 0;
    }
    header::after {
        height: 250px;
        bottom: -200px;
    }
    body {
        padding: 0;
    }
    .cattail {
        display: none;
    }
    .ear {
        position: absolute;
        width: 100px;
        height: 100px;
        background: #fff;
        z-index: 1;
        bottom: 0px;
        box-shadow: 0 0 25px rgba(0, 0, 0, .1);
        cursor: pointer;
    }
    .ear-l {
        left: 3px;
    }
    .ear-r {
        right: 3px;
    }
    .user {
        display: none;
    }
    header a {
        width: 100px;
        height: 100px;
    }
    #comments .info input {
        width: 100%;
        margin-top: 5px;
    }
    header .user {
        margin-top: 5px;
    }
}
@keyframes loading-l {
    0% {
        opacity:0;
        transform:translateY(20px)
    }
    100% {
        opacity:1;
        transform:translateY(0px)
    }
}